/***
Login page
***/
/* logo page */
.login {
  background-color: #666 !important;
}

.login .logo {
  margin: 0 auto;
  margin-top: 60px;
  padding: 15px;
  text-align: center;
}

.login .content {
  background: url(../img/bg-white-lock.png) repeat;
  width: 760px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.login .content h3 {
  color: #eee;
}

.login .content h4 {
  color: #eee;
}

.login .content p,
.login .content label {
  color: #fff;
}



/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #eee;
  font-size: 13px;
}

@media (max-width: 480px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top: 10px;
  }

  .login .content {
    padding: 30px;
    width: 222px;
  }

  .login .content h3 {
    font-size: 22px;
  }

  .login .checkbox {
    font-size: 13px;
  }
}
