ul {
	list-style-type: square;
	padding: 5px;
	margin: 0 0 5px 10px;
}

	ul li {
		padding-left: 5px;
		cursor: text;
		border-bottom: 1px solid hsl(0, 100%, 26.5%);
		padding: .4em;
		color: hsl(0, 0%, 100%);
		outline: medium none;
	}

h3 {
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	color: hsl(0, 0%, 16.1%);
	outline: medium none;
	padding: 0 .4em 0 .4em;
}

img {
	vertical-align: middle;
	height: 50px;
	width: 50px;
	margin-right: 10px;
}

body {
	background-color: hsl(0, 0%, 14.9%);
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
	font-family: Arial hsl(0, 0%, 0%), Gadget, sans-serif;
	font-size: 20px;
	color: hsl(0, 0%, 100%);
}

q {
	position: absolute;
	text-align: center;
}

	q:before, q:after {
		content: '';
	}

:focus {
	outline: hsl(193.7, 74.5%, 41.6%) solid 1px;
	background-color: hsla(193.7, 74.5%, 41.6%, 0.36);
}

[hidden] {
	display: none;
	visibility: hidden;
}

iframe {
	border: none;
	height: 100%;
	overflow: hidden;
	width: 100%;
}